a{
    text-decoration: none;
    color: white;
    margin: 0 8px;
}


nav {
    background-color: black;
    display: flex;
    justify-content: right;
    height: 60px;
    align-items: center;
    padding-right: 20px;

}


.squirtle-left {
    margin-top: 50px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.squirtle-b-left {
    margin-top: 50px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.squirtle-right {
    margin-top: -790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-left: 800px;

}

.squirtle-b-right {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-left: 800px;
}

footer {
    margin-top: 50px;
    background-color: black;
}

.copyright {
    height: 60px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
